.todo__list{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #11123b;
    margin-top: 20px;
    font-size: 2rem;
}

@media screen and (min-width:768px) {
    .todo__list{
        width: 42rem;
    }
}

@media screen and (min-width:1024px) {
    .todo__list{
        width: 52rem;
    }
}