.todo__list{
    margin-top: 30px;
    width: 52rem;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #11123b;
    margin-top: 20px;
    font-size: 2rem;
}